*.pyc
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
*.ckpt
*.pt
*.safetensors
*.DS_Store
pre_checkpoints
SIBR_viewers
submodules
viewer_windows
stitch_diffusion
requirements
README